# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.dccache

# Tests
/coverage
/.nyc_output

# Compiled binary 
dist/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

data/